$color_1: #FFFFFF;
$color_2: #FCC558;
$color_3: #28352B;
$color_4: #000000;
$color_5: transparent;
$color_6: #D5421D;
$color_7: #11622C;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "Lato";

#es-garnier.es-garnier {
	font-family: $font-family_1;
	color: $color_1;
	max-width: 990px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	p {
		margin: 0;
		padding: 0;
	}
	sup {
		font-size: 0.6em;
	}
	.es-title {
		font-family: $font-family_2;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-wrap: balance;
		color: $color_2;
		margin-bottom: 8px;
	}
	.es-subtitle {
		font-family: $font-family_2;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-wrap: balance;
		color: $color_1;
		-webkit-text-stroke: 1.5px #11622C;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		span {
			transform: none;
		}
	}
	.es-kv {
		padding-bottom: 50px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.es-kv__wrapper {
		margin: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.es-kv__branding {
		text-align: center;
		.es-kv__text {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 55px;
			letter-spacing: -0.07em;
			line-height: 1;
			color: $color_3;
		}
	}
	.es-kv__img {
		margin-top: 20px;
		padding: 0 15px;
	}
	.es-kv__logoCtn {
		margin: auto;
		padding-top: 20px;
		img {
			margin: auto;
		}
	}
	.es-kv__textCtn {
		.es-kv__text {
			margin-top: 30px;
			margin-bottom: 40px;
			text-align: center;
			color: $color_3;
			font-size: 25px;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 1.7;
			span {
				color: $color_1;
				background-color: $color_3;
				letter-spacing: 1px;
				padding: 4px 12px;
			}
		}
	}
	.es-kv__packshotCtn {
		display: flex;
		max-width: 355px;
		margin: -2px auto 0 auto;
	}
	.es-kv__packshot {
		width: 25%;
		transition: all 200ms ease-in-out;
		&:hover {
			scale: 1.05;
		}
	}
	.es-benefits {
		padding: 50px 0 32px 0;
		position: relative;
		z-index: 2;
		.es-title {
			z-index: 1;
			position: relative;
			margin-left: -12%;
		}
		.es-subtitle {
			width: 70%;
			text-align: left;
			line-height: 1.2;
			margin-top: -5px;
		}
	}
	.es-benefits__subtitle-span {
		margin-left: 8%;
	}
	.es-benefits__subtitle-span-2 {
		margin-left: 30%;
	}
	.es-benefits__header {
		padding-inline: 8px;
	}
	.es-benefits__container {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: center;
	}
	.es-benefits__figure {
		position: relative;
		width: 100%;
		margin: auto;
		margin: 0;
	}
	.es-benefits__imgCtn {
		overflow: hidden;
		aspect-ratio: 1/1;
		margin: auto;
		img {
			aspect-ratio: 1/1;
			-o-object-fit: contain;
			object-fit: contain;
			transition: all 200ms ease-in-out;
			&:hover {
				scale: 1.1;
			}
		}
	}
	.es-benefits__BA--text {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		color: $color_1;
	}
	.es-benefits__cards {
		margin: 32px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 500px;
		.es-benefits__single {
			opacity: 1;
			&:hover {
				opacity: 1;
			}
		}
		&:hover {
			.es-benefits__single {
				opacity: 0.8;
			}
		}
	}
	.es-benefits__single {
		flex: 1 25%;
		margin: 8px;
		min-width: 141px;
		height: 183px;
		padding: 44px 8px;
		padding-top: 20px;
		padding-bottom: 39px;
		background: #FFFFFF;
		color: $color_4;
		font-weight: 700;
		border: none;
		border-radius: 16px;
		box-shadow: 1px 1px 15px 3px #0000001A;
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
	.es-benefits__icon {
		width: 45px;
		margin: 0 auto;
	}
	.es-benefits__text {
		font-size: 14px;
		text-align: center;
		display: block;
		margin-bottom: 10px;
		font-weight: 700;
		padding-top: 14px;
		text-transform: uppercase;
		line-height: 1.2;
	}
	.es-benefits__text--small {
		font-size: 12px;
		margin-bottom: 10px;
		text-transform: none;
		font-weight: 400;
		margin-top: 5px;
		display: block;
	}
	.es-benefits__ellipse-2 {
		position: absolute;
		bottom: -7%;
		left: 0;
		width: 120px;
		z-index: -1;
	}
	.es-use {
		margin-top: 48px;
		padding: 32px;
		background-size: cover;
		background-position: 0px 0px;
		background-image: linear-gradient(167deg, #F7A100 50%, #F7AB00 50%);
		.es-subtitle {
			font-family: $font-family_2;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 30px;
			line-height: 1;
			text-align: center;
			text-wrap: balance;
			color: $color_1;
			padding: 8px;
			transform-origin: top;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			-webkit-text-stroke: unset;
		}
	}
	.es-use__header--mobile {
		-webkit-text-stroke: 1.5px #FFFFFF;
		color: $color_5;
		letter-spacing: 1px;
	}
	.es-use__imgCtn {
		position: relative;
		z-index: 1;
		margin-block: 16px;
		img {
			margin: auto;
			transition: all 300ms ease-in-out;
			&:hover {
				scale: 1.1;
			}
		}
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 48%;
			height: 100px;
			transform: translateX(-50%);
			bottom: -13%;
			left: 54%;
			z-index: -1;
			background-size: 100% 100%;
			background-position: 0px 0px;
			background-image: radial-gradient(55% 58% at 52% 56%, #e37300 0%, #ea7a00 25%, rgba(7, 58, 255, 0) 68%);
		}
	}
	.es-use__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		position: relative;
		z-index: 2;
	}
	.es-use__single {
		text-align: center;
	}
	.es-use__title {
		text-transform: uppercase;
		color: $color_1;
		font-weight: 700;
		margin-bottom: 8px;
		font-size: 20px;
	}
	.es-use__text {
		text-align: center;
		text-wrap: balance;
		color: $color_4;
		font-size: 15px;
	}
	.es-use__arrows {
		display: none;
	}
	.es-cross {
		margin-top: 70px;
		margin-bottom: 80px;
		padding-inline: 32px;
		position: relative;
		display: none;
	}
	.es-cross__header {
		.es-subtitle {
			max-width: -moz-fit-content;
			max-width: fit-content;
			padding-inline: 140px;
		}
	}
	.es-cross__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px 10px;
		margin-top: 20px;
	}
	.es-cross__single {
		display: flex;
		flex-direction: column;
		width: 25%;
		text-align: center;
		&:hover {
			.es-cross__img {
				scale: 1.05;
			}
			.es-cross__link {
				text-decoration: none;
				color: $color_6;
				background-color: $color_1;
			}
		}
	}
	.es-cross__single--product {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		height: 275px;
	}
	.es-cross__text {
		font-family: $font-family_2;
		text-align: center;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		-webkit-text-stroke: 0.5px #000000;
		text-shadow: #000000CC 2px 2px;
		margin-top: 80px;
		margin-bottom: 35px;
	}
	.es-cross__img {
		max-width: 150px;
		transition: all 200ms ease-in-out;
	}
	.es-cross__link {
		text-decoration: none;
		background-color: $color_6;
		color: $color_1;
		border: 2px solid #D5421D;
		border-radius: 5px;
		margin-top: 35px;
		padding: 12px 0;
		font-weight: 700;
		font-size: 13px;
	}
	.es-cross--mobile {
		margin: 40px 0;
		.es-cross__single {
			width: 290px;
			margin: 0 auto;
			height: 860px;
		}
		.es-cross__single--product {
			min-height: 360px;
		}
		.es-cross__text {
			font-size: 30px;
		}
		.es-cross__img {
			max-width: 200px;
			margin-top: 70px;
		}
	}
	.es-cross--mobile__header {
		margin-bottom: 30px;
	}
	.es-cross__table-mobile {
		color: $color_3;
		font-size: 14px;
		border: 2px solid #11622C;
		padding: 20px 50px;
		margin-top: 50px;
	}
	.es-cross__table-mobile-2 {
		margin-top: 40px;
	}
	.es-cross__table-mobile-3 {
		margin-top: 40px;
	}
	.es-cross__table-mobile-title {
		color: $color_7;
		text-transform: uppercase;
		font-weight: 700;
		background-color: $color_1;
		padding-left: 10%;
		padding-right: 10%;
		margin-top: -28px;
	}
	.es-cross__table-mobile-content {
		margin-top: 20px;
		line-height: 1.4;
	}
	.es-swiper1 {
		width: auto;
		height: 930px;
		.swiper-pagination-bullet {
			opacity: 0.5;
			background: #D5421D;
		}
		.swiper-pagination-bullet-active {
			background: #D5421D;
			opacity: 1;
		}
	}
	.swiper-button-prev.es-swiper1-button-prev {
		top: 20%;
		&::after {
			font-size: 35px;
			font-weight: 900;
			color: $color_7;
		}
	}
	.swiper-button-next.es-swiper1-button-next {
		top: 20%;
		&::after {
			font-size: 35px;
			font-weight: 900;
			color: $color_7;
		}
	}
	.swiper-button-disabled {
		display: none;
	}
	.es-title.es-influ__title-mobile {
		margin-top: 60px;
	}
	.es-influ__subtitle-mobile {
		margin-bottom: 20px;
	}
	.es-influ__BG {
		img {
			display: none;
		}
	}
	.es-influ__quote {
		text-align: center;
		font-style: italic;
		font-weight: 700;
		font-size: 18px;
		color: $color_3;
	}
	.es-influ__name {
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		text-transform: none;
		margin-top: 20px;
		margin-bottom: 30px;
		color: $color_3;
	}
	.es-footer__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.es-footer__text {
		font-size: 11px;
		color: $color_4;
		padding: 30px 10px;
		width: 100%;
	}
	.es-footer__logoCtn {
		margin: 20px auto;
	}
	.es-footer__signs {
		background: rgb(18, 88, 40);
		background: linear-gradient(90deg, rgb(18, 88, 40) 0%, rgb(19, 111, 50) 20%, rgb(19, 116, 52) 50%, rgb(19, 112, 51) 80%, rgb(18, 91, 41) 100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		padding: 32px;
		img {
			max-width: 200px;
		}
	}
}
@media (min-width: 620px) {
	#es-garnier.es-garnier {
		.es-title {
			font-size: 38px;
		}
		.es-subtitle {
			font-size: 38px;
		}
		.es-kv__wrapper {
			display: flex;
			flex-direction: row;
			align-items: initial;
		}
		.es-kv__branding {
			width: 50%;
		}
		.es-kv__img {
			width: 50%;
		}
	}
}
@media (min-width: 450px) {
	#es-garnier.es-garnier {
		.es-benefits__single {
			flex: 1;
			margin: 8px;
			min-width: 160px;
			max-height: 180px;
			width: unset;
			height: unset;
			padding: 44px 8px;
			padding-top: 20px;
			padding-bottom: 39px;
		}
	}
}
@media (min-width: 576px) {
	#es-garnier.es-garnier {
		.es-benefits__BA--text {
			padding: 15px 55px;
		}
		.es-benefits__icon {
			width: 65px;
		}
		.es-use__single {
			padding-inline: 80px;
		}
	}
}
@media (min-width: 638px) {
	#es-garnier.es-garnier {
		.es-benefits {
			.es-title {
				margin-left: -200px;
			}
			.es-subtitle {
				text-align: center;
				margin-top: -10px;
				width: 70%;
				br {
					display: none;
				}
			}
		}
		.es-benefits__subtitle-span {
			margin-left: 0;
		}
		.es-benefits__subtitle-span-2 {
			margin-left: 0;
		}
		.es-benefits__BA--text {
			padding: 15px 105px;
		}
		.es-benefits__ellipse-2 {
			bottom: -10%;
			width: 160px;
		}
		.es-use {
			margin-top: 48px;
			padding: 32px;
			background-size: 100% 100%;
			background-position: 0px 0px;
		}
		.es-cross {
			display: block;
			.es-cross__table-mobile {
				padding: 10px 20px;
			}
			.es-cross__table-mobile-title {
				margin-top: -18px;
			}
			.es-cross__table-mobile-content {
				margin-top: 5px;
			}
		}
		.es-cross__single {
			display: grid;
			grid-template-rows: 280px 180px 190px 145px;
		}
		.es-cross--mobile {
			display: none;
		}
		.es-influ__BG {
			position: relative;
			img {
				display: block;
			}
		}
		.es-influ__quote {
			text-align: center;
			font-style: italic;
			font-weight: 700;
			font-size: 22px;
			position: absolute;
			top: 55px;
			left: 20%;
			color: $color_1;
		}
		.es-influ__name {
			text-align: center;
			font-weight: 700;
			text-transform: none;
			position: absolute;
			top: 110px;
			left: 35%;
			transform-origin: top;
			color: $color_1;
		}
		.es-footer__text {
			max-width: 45%;
			width: unset;
		}
		.es-footer__logoCtn {
			margin-block: 32px;
			margin: unset;
		}
		.es-footer__signs {
			img {
				flex-basis: 33%;
				max-width: 150px;
			}
			flex-direction: row;
			align-items: flex-end;
			justify-content: center;
			padding: 16px;
		}
	}
}
@media (min-width: 768px) {
	#es-garnier.es-garnier {
		.es-benefits {
			padding: 50px 32px 32px 32px;
		}
		.es-benefits__container {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			margin-top: 40px;
		}
		.es-benefits__figure {
			max-width: 400px;
		}
		.es-benefits__imgCtn {
			max-width: 400px;
		}
		.es-benefits__BA--text {
			padding: 15px;
		}
		.es-use {
			margin-top: 40px;
			position: relative;
			height: 500px;
			.es-subtitle {
				font-size: 38px;
			}
		}
		.es-use__header {
			position: absolute;
			top: 40px;
			left: 100px;
		}
		.es-use__imgCtn {
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
		.es-use__wrapper {
			display: block;
			position: static;
		}
		.es-use__single {
			&:nth-of-type(1) {
				top: 60%;
				left: 32px;
			}
			&:nth-of-type(2) {
				top: 48px;
				right: 32px;
			}
			&:nth-of-type(3) {
				bottom: 48px;
				right: 32px;
			}
			position: absolute;
			max-width: 275px;
			padding-inline: unset;
		}
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#es-garnier.es-garnier {
		.es-use__single {
			&:nth-of-type(1) {
				position: relative;
			}
			&:nth-of-type(2) {
				position: relative;
			}
			&:nth-of-type(3) {
				position: relative;
			}
		}
	}
}
@media (min-width: 850px) {
	#es-garnier.es-garnier {
		.es-use__single {
			&:nth-of-type(1) {
				left: 48px;
				top: 69%;
			}
			&:nth-of-type(2) {
				right: 48px;
			}
			&:nth-of-type(3) {
				right: 48px;
			}
			max-width: 320px;
		}
	}
}
@media (min-width: 968px) {
	#es-garnier.es-garnier {
		.es-use__arrows {
			display: block;
			.es-use__arrow--1 {
				position: absolute;
				top: 48%;
				left: 26%;
			}
			.es-use__arrow--2 {
				position: absolute;
				top: 30%;
				right: 27%;
				transform: rotateX(156deg) rotateY(151deg);
			}
			.es-use__arrow--3 {
				position: absolute;
				bottom: 30%;
				right: 26%;
				transform: rotateX(0deg) rotateY(180deg);
			}
		}
	}
}
@media (min-width: 864px) {
	#es-garnier.es-garnier {
		.es-cross__text {
			font-size: 25px;
		}
		.es-cross__single {
			grid-template-rows: 280px 160px 155px 125px;
		}
	}
}
@media (min-width: 980px) {
	#es-garnier.es-garnier {
		.es-cross__wrapper {
			justify-content: flex-end;
			flex-wrap: nowrap;
		}
		.es-cross {
			.es-cross__table-mobile-title {
				margin-top: -28px;
			}
			.es-cross__table-mobile {
				padding: 20px 20px;
			}
			.es-cross__table-mobile-content {
				margin-top: 20px;
			}
		}
	}
}
@media (max-width: 365px) {
	#es-garnier.es-garnier {
		.swiper-button-prev.es-swiper1-button-prev {
			left: 5px;
		}
		.swiper-button-next.es-swiper1-button-next {
			right: 5px;
		}
	}
}
